:root {
  font-size: 16px;

  --primary-color: #874c62;
  --secondary-color: #f1d486;
  --secondary-color-light: #f4dfa4;
  --background-color: #f5ebcf;
  --background-color-light: #ffffff;
  --border-color: #313131;
  --text-color: #313131;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #313131;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
